#hero-background-img {
    background-image: url("static/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:200px;
    padding-bottom:200px;
}

.jumbotron > h1, p{
    color: black;
}